<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basics.gty.entity.GtyLimitWallet">
    <cache type="com.basics.support.mybatis.CacheAdapter"/>

    <select id="query" parameterType="map" resultType="com.basics.gty.entity.GtyLimitWallet" flushCache="true"
            useCache="false">
  SELECT
    gtyWallet.ID "id",
  gtyWallet.LIMIT_WITH_DRAW "limitWithDraw",
  gtyWallet.LIMIT_DOWN_SUPER_RELEASE "limitDownSuperRelease",
  gtyWallet.LIMIT_UP_SUPER_RELEASE "limitUpSuperRelease",
  gtyWallet.LIMIT_DOWN_SCORE_RELEASE "limitDownScoreRelease",

  gtyWallet.LIMIT_UP_MTOKEN_RELEASE "limitUpMtokenRelease",
  gtyWallet.LIMIT_DOWN_MTOKEN_RELEASE "limitDownMtokenRelease",

  gtyWallet.LIMIT_MTOKEN_RELEASE_POINT "limitMtokenReleasePoint",
  gtyWallet.LIMIT_MNC_RELEASE_POINT "limitMncReleasePoint",
 gtyWallet.LIMIT_SCORE_RELEASE_POINT "limitScoreReleasePoint",
 gtyWallet.MNC_TRADE_POINT "mncTradePoint",

 gtyWallet.P2P_POINT "p2pPoint",

  gtyWallet.LIMIT_UP_SCORE_RELEASE "limitUpScoreRelease"
  FROM wallet_operate_limit gtyWallet
 </select>

    <update id="update" parameterType="com.basics.gty.entity.GtyLimitWallet">
        <![CDATA[ UPDATE wallet_operate_limit ]]>
        <trim prefix="SET" suffixOverrides=",">
            <if test="id!=null">ID= #{id},</if>
            <if test="limitWithDraw!=null">LIMIT_WITH_DRAW = #{limitWithDraw},</if>
            <if test="limitDownSuperRelease!=null">LIMIT_DOWN_SUPER_RELEASE = #{limitDownSuperRelease},</if>
            <if test="limitUpSuperRelease!=null">LIMIT_UP_SUPER_RELEASE = #{limitUpSuperRelease},</if>
            <if test="limitDownScoreRelease!=null">LIMIT_DOWN_SCORE_RELEASE = #{limitDownScoreRelease},</if>
            <if test="limitUpScoreRelease!=null">LIMIT_UP_SCORE_RELEASE = #{limitUpScoreRelease},</if>

            <if test="limitScoreReleasePoint!=null">LIMIT_SCORE_RELEASE_POINT = #{limitScoreReleasePoint},</if>
            <if test="limitMncReleasePoint!=null">LIMIT_MNC_RELEASE_POINT = #{limitMncReleasePoint},</if>
            <if test="limitMtokenReleasePoint!=null">LIMIT_MTOKEN_RELEASE_POINT = #{limitMtokenReleasePoint},</if>

            <if test="limitDownMtokenRelease!=null">LIMIT_DOWN_MTOKEN_RELEASE = #{limitDownMtokenRelease},</if>
            <if test="limitUpMtokenRelease!=null">LIMIT_UP_MTOKEN_RELEASE = #{limitUpMtokenRelease},</if>
            <if test="p2pPoint!=null">P2P_POINT = #{p2pPoint},</if>
            <if test="mncTradePoint!=null">MNC_TRADE_POINT = #{mncTradePoint},</if>
        </trim>
        <![CDATA[ WHERE  ID = #{id}   ]]>
    </update>

    <select id="count" parameterType="map" resultType="long">
        <![CDATA[ SELECT COUNT(1) FROM wallet_operate_limit wr]]>
        <include refid="condition"/>
    </select>

    <sql id="condition">
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
                <![CDATA[ AND wr.ID = #{id}    ]]>
            </if>
        </trim>
    </sql>

</mapper>
