<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basics.gty.entity.GtyWalletHistory">
 <cache type="com.basics.support.mybatis.CacheAdapter"/>

 <select id="query" parameterType="map" resultType="com.basics.gty.entity.GtyWalletHistory" flushCache="true" useCache="false">
  SELECT
   wr.ID "id",
   wr.USER_ID "userId",
   wr.RECORD_TYPE "recordType",
   wr.RECORD_NUM "recordNum",
   wr.RECORD_MARK "mark",
   wr.RECORD_TIME "createTime",
   wr.RECORD_NAME "recordName",
   wr.RECORD_TO_ACCOUNT "toAccount"

   FROM wallet_record

 </select>

 <select id="queryTransation" parameterType="map" resultType="com.basics.gty.entity.GtyWalletHistory" flushCache="true" useCache="false">
  SELECT
   wr.ID "id",
   wr.USER_ID "userId",
   wr.RECORD_TYPE "recordType",
   wr.RECORD_NUM "recordNum",
   wr.RECORD_MARK "mark",
   wr.RECORD_TIME "createTime",
   wr.RECORD_NAME "recordName",
   wr.RECORD_TO_ACCOUNT "toAccount"

   FROM wallet_record wr WHERE  wr.USER_ID = #{userId} order by   wr.RECORD_TIME desc
 </select>

 <insert id="insert" parameterType="com.basics.gty.entity.GtyWalletHistory">
 <![CDATA[  INSERT INTO wallet_record (]]>
 <trim prefix="" suffixOverrides=",">
  <if test="id!=null">ID,</if>
  <if test="userId!=null">USER_ID,</if>
  <if test="recordType!=null">RECORD_TYPE,</if>
  <if test="recordNum!=null">RECORD_NUM,</if>
  <if test="toAccount!=null">RECORD_TO_ACCOUNT,</if>
  <if test="mark!=null">RECORD_MARK,</if>
  <if test="createTime!=null">RECORD_TIME,</if>
  <if test="recordName!=null">RECORD_NAME,</if>
 </trim>
  <![CDATA[)VALUES(]]>
  <trim prefix="" suffixOverrides=",">
   <if test="id!=null">#{id},</if>
   <if test="userId!=null">#{userId},</if>
   <if test="recordType!=null">#{recordType},</if>
   <if test="recordNum!=null">#{recordNum},</if>
   <if test="toAccount!=null">#{toAccount},</if>
   <if test="mark!=null">#{mark},</if>
   <if test="createTime!=null">#{createTime},</if>
   <if test="recordName!=null">#{recordName},</if>
  </trim>
  <![CDATA[)]]>
 </insert>

 <select id="count" parameterType="map" resultType="long">
  <![CDATA[ SELECT COUNT(1) FROM wallet_record wr]]>
  <include refid="condition" />
 </select>

 <sql id="condition">
  <trim prefix="WHERE" prefixOverrides="AND |OR">
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
    <![CDATA[ AND wr.ID = #{id}    ]]>
   </if>
  </trim>
 </sql>
</mapper>
