<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
 "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basics.mall.entity.MallGoods">
 <cache type="com.basics.support.mybatis.CacheAdapter"/>

 <select id="query" resultType="com.basics.mall.entity.MallGoods" flushCache="false" useCache="false">
    SELECT id, advert_id  as advertId, goods_name as goodsName,
     goods_text as goodsText, money, image, state, del_flag as delFlag, create_time as createTime
    FROM mall_goods
     WHERE 1=1
     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(delFlag)">
         <![CDATA[ AND del_flag = #{delFlag} ]]>
     </if>
     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(advertId)">
         <![CDATA[ AND advert_Id = #{advertId} ]]>
     </if>
     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(state)">
         <![CDATA[ AND state = #{state} ]]>
     </if>
     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(status)">
         <![CDATA[ AND status = #{status} ]]>
     </if>
     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
         <![CDATA[ AND id = #{id} ]]>
     </if>
      order by create_time desc
     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(pageN)">
         <![CDATA[ limit #{pageN},#{pageS} ]]>
     </if>
 </select>
 
</mapper>
