<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
 "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basics.mall.entity.MallProductKindContrast">
 <cache type="com.basics.support.mybatis.CacheAdapter"/>
 <delete id="delete" parameterType="com.basics.mall.entity.MallProductKindContrast">
  <![CDATA[ DELETE FROM mall_product_kind_contrast WHERE  CONTRAST_ID = #{id} ]]>
 </delete>
 <insert id="insert" parameterType="com.basics.mall.entity.MallProductKindContrast">
  <![CDATA[  INSERT INTO mall_product_kind_contrast (]]>
  <trim prefix="" suffixOverrides=",">
   <if test="id!=null">CONTRAST_ID,</if>
   <if test="kindId!=null">KIND_ID,</if>
   <if test="kindDetailId!=null">KIND_DETAIL_ID,</if>
   <if test="productId!=null">PRODUCT_ID,</if>
  </trim>
  <![CDATA[)VALUES(]]>
  <trim prefix="" suffixOverrides=",">
   <if test="id!=null">#{id},</if>
   <if test="kindId!=null">#{kindId},</if>
   <if test="kindDetailId!=null">#{kindDetailId},</if>
   <if test="productId!=null">#{productId},</if>
  </trim>
  <![CDATA[)]]>
 </insert>
 <update id="update" parameterType="com.basics.mall.entity.MallProductKindContrast">
  <![CDATA[ UPDATE mall_product_kind_contrast ]]>
  <trim prefix="SET" suffixOverrides=",">
  <if test="id!=null">CONTRAST_ID = #{id},</if>
  <if test="kindId!=null">KIND_ID = #{kindId},</if>
  <if test="kindDetailId!=null">KIND_DETAIL_ID = #{kindDetailId},</if>
  <if test="productId!=null">PRODUCT_ID = #{productId},</if>
  </trim>
  <![CDATA[ WHERE  CONTRAST_ID = #{id}   ]]>
 </update>
 <sql id="condition">
  <trim prefix="WHERE" prefixOverrides="AND |OR">
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
   <![CDATA[ AND mallProductKindContrast.CONTRAST_ID = #{id}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(kindId)">
   <![CDATA[ AND mallProductKindContrast.KIND_ID = #{kindId}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(kindDetailId)">
   <![CDATA[ AND mallProductKindContrast.KIND_DETAIL_ID = #{kindDetailId}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(productId)">
   <![CDATA[ AND mallProductKindContrast.PRODUCT_ID = #{productId}    ]]>
  </if>
  </trim>
 </sql>
 <select id="query" parameterType="map" resultType="com.basics.mall.entity.MallProductKindContrast">
  <![CDATA[
  SELECT
  mallProductKindContrast.CONTRAST_ID "id",
  mallProductKindContrast.KIND_ID "kindId",
  mallProductKindContrast.KIND_DETAIL_ID "kindDetailId",
  mallProductKindContrast.PRODUCT_ID "productId"
  FROM mall_product_kind_contrast mallProductKindContrast
  ]]>
  <include refid="condition" />
  <choose>
   <when test="@org.apache.commons.lang.StringUtils@isNotEmpty(orderBy)"> ORDER BY ${orderBy}
   </when>
   <otherwise>
    <!-- //TODO:ADD DEFAULT ORDER COLUMN OR DONOTHING! -->
   </otherwise>
  </choose>
 </select>
 <select id="count" parameterType="map" resultType="long">
  <![CDATA[ SELECT COUNT(1) FROM mall_product_kind_contrast mallProductKindContrast]]>
  <include refid="condition" />
 </select>
 <sql id="conditionDeleteAll">
  <trim prefix="WHERE" prefixOverrides="AND |OR">
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
   <![CDATA[ AND CONTRAST_ID = #{id} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(kindId)">
   <![CDATA[ AND KIND_ID = #{kindId} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(kindDetailId)">
   <![CDATA[ AND KIND_DETAIL_ID = #{kindDetailId} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(productId)">
   <![CDATA[ AND PRODUCT_ID = #{productId} ]]>
  </if>
  </trim>
 </sql>
 <delete id="deleteAll" parameterType="map">
  <![CDATA[DELETE FROM mall_product_kind_contrast]]>
  <include refid="conditionDeleteAll" />
 </delete>
 
 <select id="queryProductMainKind" parameterType="map" resultType="com.basics.mall.vo.MainKindVo">
  <![CDATA[
  SELECT DISTINCT
		mpkc.KIND_ID `kindId`,
		mpk.PRODUCT_KIND_NAME `kindName`,
		mpk.PRODUCT_KIND_MOSAIC_ORDER `order`
	FROM
		mall_product_kind_contrast mpkc
	LEFT JOIN mall_product_kind mpk ON mpkc.KIND_ID = mpk.PRODUCT_KIND_ID
	WHERE
		mpkc.PRODUCT_ID = #{productId}
	ORDER BY
		mpk.PRODUCT_KIND_MOSAIC_ORDER
  ]]>
 </select>
 <select id="queryProductKindValue" parameterType="map" resultType="com.basics.mall.vo.KindValueVo">
  <![CDATA[
  SELECT
		mpkd.DETAIL_ID `kindDetailId`,
		mpkd.DETAIL_KIND_VALUE `kindeDetailVaue`,
		mpkd.DETAIL_DESCRIPTION `kindDetailDesc`
	FROM
		mall_product_kind_contrast mpkc
	LEFT JOIN mall_product_kind_detail mpkd ON mpkc.KIND_DETAIL_ID = mpkd.DETAIL_ID
	WHERE
		mpkc.PRODUCT_ID = #{productId}
	AND mpkc.KIND_ID = #{kindId}
	ORDER BY mpkd.DETAIL_DESCRIPTION
  ]]>
 </select>
 
</mapper>
