<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
 "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basics.mall.entity.MallShopClassify">
 <cache type="com.basics.support.mybatis.CacheAdapter"/>

 <select id="query" resultType="com.basics.mall.entity.MallShopClassify" useCache="false" flushCache="false">
  SELECT
  mallShopClassify.CLASSIFY_ID "id",
  mallShopClassify.COUNTRY_ID "countryId",
  mallShopClassify.CLASSIFY_NAME "classifyName",
  mallShopClassify.CLASSIFY_IMG "classifyImg",
  mallShopClassify.CLASSIFY_PARENT_ID "classifyParentId",
  mallShopClassify.CLASSIFY_SORT "classifySort",
  mallShopClassify.VERSION_NUM "versionNum",
  mallShopClassify.FLAG_DEL "flagDel",
  mallShopClassify.CREATE_TIME "createTime",
  mallShopClassify.CREATE_USER "createUser",
  mallShopClassify.MODIFY_USER "modifyUser",
  mallShopClassify.MODIFY_TIME "modifyTime"
  FROM mall_shop_classify mallShopClassify
  WHERE FLAG_DEL != '1'
  order by sort
 </select>

</mapper>
