<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
 "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basics.mall.entity.MallShopAdvert">
 <cache type="com.basics.support.mybatis.CacheAdapter"/>
 <select id="query" resultType="com.basics.mall.entity.MallShopAdvert" useCache="false" flushCache="false">
    select
    ADVERT_ID as id,
    CUSTOMER_ID as customerId,
    ADVERT_NAME as advertName,
    ADVERT_CONTEXT as advertContext,
    ADVERT_IMAGE as advertImage,
    SHOP_LICENCE as shopLicence,
    SHOP_VIDEO as shopVideo,
    ADVERT_PHONE as advertPhone,
    ADVERT_ADDRESS as advertAddress,
    ADVERT_LONGITUDE as advertLongitude,
    ADVERT_LATITUDE as advertLatitude,
    APPLY_STATUS as applyStatus,
    APPLY_CONTEXT as applyContext,
    FLAG_DEL as flagDel,
    CREATE_TIME as createTime,
    ADVERT_SALE as advertSale,
    CITY,
    REGION,
    PERSON
    from mall_shop_advert
    where 1=1
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
    and advert_id = #{id}
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(customerId)">
    and customer_id = #{customerId}
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(applyStatus)">
    and apply_status = #{applyStatus}
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(flagDel)">
    and FLAG_DEL = #{flagDel}
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(city)">
    and city = #{city}
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(classifyId)">
     and CLASSIFY_ID = #{classifyId}
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(advertName)">
      <![CDATA[and advert_name like '%${advertName}%' ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(createTime)">
     order by CREATE_TIME DESC
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(advert_sale)">
     order by advert_sale desc
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(pageN)">
      limit #{pageN},#{pageS}
  </if>
 </select>
    <insert id="insert" parameterType="com.basics.mall.entity.MallShopAdvert">
        insert into mall_shop_advert(advert_id, customer_id, advert_name, advert_context, advert_image, shop_licence, advert_phone, advert_address, advert_longitude, advert_latitude, create_time, city, region, CLASSIFY_ID, person)
        values (#{id}, #{customerId}, #{advertName}, #{advertContext}, #{advertImage}, #{shopLicence}, #{advertPhone}, #{advertAddress}, #{advertLongitude}, #{advertLatitude}, now(), #{city}, #{region}, #{classifyId}, #{person}, #{person)
    </insert>
    <update id="update" parameterType="com.basics.mall.entity.MallShopAdvert">
        update mall_shop_advert set
        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(advertName)">
            advert_name = #{advertName},
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(advertContext)">
            advert_context = #{advertContext},
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(advertImage)">
            advert_Image = #{advertImage},
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(shopLicence)">
            shop_licence = #{shopLicence},
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(advertPhone)">
            advert_phone = #{advertPhone},
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(advertAddress)">
            advert_address = #{advertAddress},
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(advertLongitude)">
            advert_longitude = #{advertLongitude},
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(advertLatitude)">
            advert_latitude = #{advertLatitude},
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(city)">
            city = #{city},
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(classifyId)">
            CLASSIFY_ID = #{classifyId},
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(person)">
            person = #{person},
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(person)">
            person = #{person},
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(advertSale)">
            ADVERT_SALE = #{advertSale},
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
            id = #{id}
        </if>
        where
        advert_id = #{id}
    </update>
    <select id="query" resultType="com.basics.mall.entity.MallShopAdvert" useCache="false" flushCache="false">
    select
     count(*)
    from mall_shop_advert
    where 1=1
    <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
        and advert_id = #{id}
    </if>
    <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(customerId)">
        and customer_id = #{customerId}
    </if>
    <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(applyStatus)">
        and apply_status = #{applyStatus}
    </if>
    <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(flagDel)">
        and FLAG_DEL = #{flagDel}
    </if>
    </select>
</mapper>
