<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
 "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basics.mall.entity.MallProductClassify">
 <cache type="com.basics.support.mybatis.CacheAdapter"/>
 <select id="query" parameterType="map" resultType="com.basics.mall.entity.MallProductClassify">
  <![CDATA[
  SELECT
  mallProductClassify.CLASSIFY_ID "id",
  mallProductClassify.COUNTRY_ID "countryId",
  mallProductClassify.CLASSIFY_NAME "classifyName",
  mallProductClassify.CLASSIFY_IMG "classifyImg",
  mallProductClassify.CLASSIFY_PARENT_ID "classifyParentId",
  mallProductClassify.CLASSIFY_SORT "classifySort",
  mallProductClassify.FLAG_DEL "flagDel",
  mallProductClassify.CREATE_TIME "createTime",
  mallProductClassify.CREATE_USER "createUser",
  mallProductClassify.MODIFY_USER "modifyUser",
  mallProductClassify.MODIFY_DATE "modifyDate"
  FROM mall_product_classify mallProductClassify
  ]]>
  order by sort
 </select>

</mapper>
