/*默认样式*/
* { margin: 0; padding: 0; font-family: 'microsoft yahei', "黑体", Verdana, Arial, Helvetica, sans-serif; }
body { line-height: normal !important; }
ul li { list-style: none; }
a { text-decoration: none; }
img { border: 0; }
i{display: inline-block;}
/*商品详情页面样式*/
.header{
	position: relative;
	width: 100%;
	height: 1.32rem;
	line-height:1.32rem;
	color: #fff;
	font-size: 0.36rem;
	text-align: center;
	background: -webkit-linear-gradient(#ff7a40, #fd2558); 
	background: -o-linear-gradient(#ff7a40, #fd2558);
	background: -moz-linear-gradient(#ff7a40, #fd2558); 
    background: linear-gradient(#ff7a40, #fd2558);
}
.left-arrow{
	position: absolute;
	left: 0.2rem;
	top:0.35rem;
	background: url(../img/left-arrow.png) no-repeat;
	background-size:cover;
	width: 0.31rem;
	height: 0.60rem;
	vertical-align: middle;
} 
.good-text{
	font-size: 0.24rem;
	color: #666;
}
.good-text .line{
	border-bottom: 0.01rem solid #FF445F;
	margin-bottom: 0.12rem;
	padding-bottom: 0.06rem;
}
.good-text .line span{
	width: 1.2rem;
	height: 0.42rem;
	border-bottom: 0.07rem solid #FF445F;
}
.good-main{
	padding:0.2rem 0.2rem 0rem 0.2rem;
	margin-bottom: 0.37rem;
}
.good-main span{
	font-size: 0.3rem;
	color: #333;
}
.good-pic img{
	width: 100%;
}
