<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
 "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basics.or.entity.OrOrderDetails">
 <cache type="com.basics.support.mybatis.CacheAdapter"/>
 <delete id="delete" parameterType="com.basics.or.entity.OrOrderDetails">
  <![CDATA[ DELETE FROM or_order_details WHERE  ORDER_DETAIL_ID = #{id} ]]>
 </delete>
 <insert id="insert" parameterType="com.basics.or.entity.OrOrderDetails">
  <![CDATA[  INSERT INTO or_order_details (]]>
  <trim prefix="" suffixOverrides=",">
   <if test="id!=null">ORDER_DETAIL_ID,</if>
   <if test="orderId!=null">ORDER_ID,</if>
   <if test="modifyDate!=null">MODIFY_DATE,</if>
   <if test="combinationId!=null">COMBINATION_ID,</if>
   <if test="productId!=null">PRODUCT_ID,</if>
   <if test="flagDel!=null">FLAG_DEL,</if>
   <if test="productNum!=null">PRODUCT_NUM,</if>
   <if test="createTime!=null">CREATE_TIME,</if>
   <if test="createUser!=null">CREATE_USER,</if>
   <if test="modifyUser!=null">MODIFY_USER,</if>
  </trim>
  <![CDATA[)VALUES(]]>
  <trim prefix="" suffixOverrides=",">
   <if test="id!=null">#{id},</if>
   <if test="orderId!=null">#{orderId},</if>
   <if test="modifyDate!=null">#{modifyDate},</if>
   <if test="combinationId!=null">#{combinationId},</if>
   <if test="productId!=null">#{productId},</if>
   <if test="flagDel!=null">#{flagDel},</if>
   <if test="productNum!=null">#{productNum},</if>
   <if test="createTime!=null">#{createTime},</if>
   <if test="createUser!=null">#{createUser},</if>
   <if test="modifyUser!=null">#{modifyUser},</if>
  </trim>
  <![CDATA[)]]>
 </insert>
 <update id="update" parameterType="com.basics.or.entity.OrOrderDetails">
  <![CDATA[ UPDATE or_order_details ]]>
  <trim prefix="SET" suffixOverrides=",">
  <if test="id!=null">ORDER_DETAIL_ID = #{id},</if>
  <if test="orderId!=null">ORDER_ID = #{orderId},</if>
  <if test="modifyDate!=null">MODIFY_DATE = #{modifyDate},</if>
  <if test="combinationId!=null">COMBINATION_ID = #{combinationId},</if>
  <if test="productId!=null">PRODUCT_ID = #{productId},</if>
  <if test="flagDel!=null">FLAG_DEL = #{flagDel},</if>
  <if test="productNum!=null">PRODUCT_NUM = #{productNum},</if>
  <if test="createTime!=null">CREATE_TIME = #{createTime},</if>
  <if test="createUser!=null">CREATE_USER = #{createUser},</if>
  <if test="modifyUser!=null">MODIFY_USER = #{modifyUser},</if>
  </trim>
  <![CDATA[ WHERE  ORDER_DETAIL_ID = #{id}   ]]>
 </update>
 <sql id="condition">
  <trim prefix="WHERE" prefixOverrides="AND |OR">
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
   <![CDATA[ AND orOrderDetails.ORDER_DETAIL_ID = #{id}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(orderId)">
   <![CDATA[ AND orOrderDetails.ORDER_ID = #{orderId}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(modifyDate)">
   <![CDATA[ AND orOrderDetails.MODIFY_DATE = #{modifyDate}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(combinationId)">
   <![CDATA[ AND orOrderDetails.COMBINATION_ID = #{combinationId}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(productId)">
   <![CDATA[ AND orOrderDetails.PRODUCT_ID = #{productId}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(flagDel)">
   <![CDATA[ AND orOrderDetails.FLAG_DEL = #{flagDel}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(productNum)">
   <![CDATA[ AND orOrderDetails.PRODUCT_NUM = #{productNum}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(createTime)">
   <![CDATA[ AND orOrderDetails.CREATE_TIME = #{createTime}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(createUser)">
   <![CDATA[ AND orOrderDetails.CREATE_USER = #{createUser}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(modifyUser)">
   <![CDATA[ AND orOrderDetails.MODIFY_USER = #{modifyUser}    ]]>
  </if>
  </trim>
 </sql>
 <select id="query" parameterType="map" resultType="com.basics.or.entity.OrOrderDetails">
  <![CDATA[
  SELECT
  orOrderDetails.ORDER_DETAIL_ID "id",
  orOrderDetails.ORDER_ID "orderId",
  orOrderDetails.MODIFY_DATE "modifyDate",
  orOrderDetails.COMBINATION_ID "combinationId",
  orOrderDetails.PRODUCT_ID "productId",
  orOrderDetails.FLAG_DEL "flagDel",
  orOrderDetails.PRODUCT_NUM "productNum",
  orOrderDetails.CREATE_TIME "createTime",
  orOrderDetails.CREATE_USER "createUser",
  orOrderDetails.MODIFY_USER "modifyUser"
  FROM or_order_details orOrderDetails
  ]]>
  <include refid="condition" />
  <choose>
   <when test="@org.apache.commons.lang.StringUtils@isNotEmpty(orderBy)"> ORDER BY ${orderBy}
   </when>
   <otherwise>
    <!-- //TODO:ADD DEFAULT ORDER COLUMN OR DONOTHING! -->
   </otherwise>
  </choose>
 </select>
 <select id="count" parameterType="map" resultType="long">
  <![CDATA[ SELECT COUNT(1) FROM or_order_details orOrderDetails]]>
  <include refid="condition" />
 </select>
 <sql id="conditionDeleteAll">
  <trim prefix="WHERE" prefixOverrides="AND |OR">
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
   <![CDATA[ AND ORDER_DETAIL_ID = #{id} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(orderId)">
   <![CDATA[ AND ORDER_ID = #{orderId} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(modifyDate)">
   <![CDATA[ AND MODIFY_DATE = #{modifyDate} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(combinationId)">
   <![CDATA[ AND COMBINATION_ID = #{combinationId} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(productId)">
   <![CDATA[ AND PRODUCT_ID = #{productId} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(flagDel)">
   <![CDATA[ AND FLAG_DEL = #{flagDel} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(productNum)">
   <![CDATA[ AND PRODUCT_NUM = #{productNum} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(createTime)">
   <![CDATA[ AND CREATE_TIME = #{createTime} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(createUser)">
   <![CDATA[ AND CREATE_USER = #{createUser} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(modifyUser)">
   <![CDATA[ AND MODIFY_USER = #{modifyUser} ]]>
  </if>
  </trim>
 </sql>
 <delete id="deleteAll" parameterType="map">
  <![CDATA[DELETE FROM or_order_details]]>
  <include refid="conditionDeleteAll" />
 </delete>
 
 <select id="queryOrderDetailsList" parameterType="map" resultType="com.basics.mall.controller.response.MallOrderProductDetailsResponse">
  <![CDATA[
  SELECT
 	orOrderDetails.ORDER_ID "orderId",
  	orOrderDetails.ORDER_DETAIL_ID "id",
  	orOrderDetails.COMBINATION_ID "combinationId",
  	orOrderDetails.PRODUCT_NUM "productNum",
  	mallProduct.PRODUCT_NAME "productName",
  	mallProduct.PRODUCT_ID "productId",
  	mallProduct.PRODUCT_PRICE "productPrice",
  	mallProduct.PRODUCT_IMG "productImg"
  FROM
  	or_order_details orOrderDetails
  INNER JOIN mall_product mallProduct ON mallProduct.PRODUCT_ID = orOrderDetails.PRODUCT_ID
  ]]>
  <include refid="condition" />
  <choose>
   <when test="@org.apache.commons.lang.StringUtils@isNotEmpty(orderBy)"> ORDER BY ${orderBy}
   </when>
   <otherwise>
    <!-- //TODO:ADD DEFAULT ORDER COLUMN OR DONOTHING! -->
   </otherwise>
  </choose>
 </select>
 
 <select id="countProductListByOrderId" parameterType="map" resultType="long">
  <![CDATA[
   SELECT COUNT(1) FROM or_order_details orOrderDetails INNER JOIN mall_product mallProduct ON mallProduct.PRODUCT_ID = orOrderDetails.PRODUCT_ID
  ]]>
  <include refid="condition" />
 </select>
 
</mapper>
