<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basics.app.entity.AppOption">
 <cache type="com.basics.support.mybatis.CacheAdapter" />
 <delete id="delete" parameterType="com.basics.app.entity.AppOption">
<![CDATA[ DELETE FROM app_option WHERE  OPTION_ID = #{id}   ]]>
 </delete>
 <insert id="insert" parameterType="com.basics.app.entity.AppOption">
<![CDATA[  INSERT INTO app_option (]]>
  <trim prefix="" suffixOverrides=",">
   <if test="id!=null">OPTION_ID,</if>
   <if test="parentId!=null">OPTION_PARENT_ID,</if>
   <if test="code!=null">OPTION_CODE,</if>
   <if test="name!=null">OPTION_NAME,</if>
   <if test="comment!=null">OPTION_COMMENT,</if>
   <if test="order!=null">OPTION_ORDER,</if>
   <if test="icon!=null">OPTION_ICON,</if>
   <if test="url!=null">OPTION_URL,</if>
   <if test="type!=null">OPTION_TYPE,</if>
   <if test="flag!=null">OPTION_FLAG,</if>
  </trim>
<![CDATA[)VALUES(]]>
  <trim prefix="" suffixOverrides=",">
   <if test="id!=null">#{id},</if>
   <if test="parentId!=null">#{parentId},</if>
   <if test="code!=null">#{code},</if>
   <if test="name!=null">#{name},</if>
   <if test="comment!=null">#{comment},</if>
   <if test="order!=null">#{order},</if>
   <if test="icon!=null">#{icon},</if>
   <if test="url!=null">#{url},</if>
   <if test="type!=null">#{type},</if>
   <if test="flag!=null">#{flag},</if>
  </trim>
<![CDATA[)]]>
 </insert>
 <update id="update" parameterType="com.basics.app.entity.AppOption">  
<![CDATA[ UPDATE app_option ]]>
  <trim prefix="SET" suffixOverrides=",">
   <if test="parentId!=null">OPTION_PARENT_ID = #{parentId},</if>
   <if test="code!=null">OPTION_CODE = #{code},</if>
   <if test="name!=null">OPTION_NAME = #{name},</if>
   <if test="comment!=null">OPTION_COMMENT = #{comment},</if>
   <if test="order!=null">OPTION_ORDER = #{order},</if>
   <if test="icon!=null">OPTION_ICON = #{icon},</if>
   <if test="url!=null">OPTION_URL = #{url},</if>
   <if test="type!=null">OPTION_TYPE = #{type},</if>
   <if test="flag!=null">OPTION_FLAG = #{flag},</if>
  </trim>
<![CDATA[ WHERE  OPTION_ID = #{id}   ]]>
 </update>
 <sql id="condition">
  <trim prefix="WHERE" prefixOverrides="AND |OR">
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)"> AND appOption.OPTION_ID = #{id}
   </if>
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(parentId)"> AND appOption.OPTION_PARENT_ID = #{parentId}
   </if>
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(parentIdISNULL)"> AND appOption.OPTION_PARENT_ID IS NULL
   </if>
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(parentIdISNOTNULL)"> AND appOption.OPTION_PARENT_ID IS NOT NULL
   </if>
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(code)"> AND appOption.OPTION_CODE = #{code}
   </if>
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(name)"> AND appOption.OPTION_NAME = #{name}
   </if>
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(comment)"> AND appOption.OPTION_COMMENT = #{comment}
   </if>
   <if test="order!=null"> AND appOption.OPTION_ORDER = #{order}
   </if>
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(icon)"> AND appOption.OPTION_ICON = #{icon}
   </if>
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(url)"> AND appOption.OPTION_URL = #{url}
   </if>
   <if test="type!=null"> AND appOption.OPTION_TYPE = #{type}
   </if>
   <if test="flag!=null"> AND appOption.OPTION_FLAG = #{flag}
   </if>
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(q)">
   <![CDATA[
   (
   appOption.OPTION_CODE LIKE concat('%',#{q},'%')
   or 
   appOption.OPTION_NAME LIKE concat('%',#{q},'%')
   or 
   appOption.OPTION_PARENT_ID LIKE concat('%',#{q},'%')
   )
   ]]>
   </if>
  </trim>
 </sql>
 <select id="query" parameterType="map" resultType="com.basics.app.entity.AppOption">
<![CDATA[
SELECT
appOption.OPTION_ID "id" ,
appOption.OPTION_PARENT_ID "parentId" ,
appOption.OPTION_CODE "code" ,
appOption.OPTION_NAME "name" ,
appOption.OPTION_COMMENT "comment" ,
appOption.OPTION_ORDER "order" ,
appOption.OPTION_ICON "icon" ,
appOption.OPTION_URL "url" ,
appOption.OPTION_TYPE "type" ,
appOption.OPTION_FLAG "flag" 
FROM app_option appOption
    ]]>
  <include refid="condition" />
  <choose>
   <when test="@org.apache.commons.lang.StringUtils@isNotEmpty(orderBy)"> ORDER BY ${orderBy}
   </when>
   <otherwise>
    <!-- //TODO:ADD DEFAULT ORDER COLUMN OR DONOTHING! -->
    ORDER BY appOption.OPTION_PARENT_ID,appOption.OPTION_TYPE,appOption.OPTION_ORDER
   </otherwise>
  </choose>
 </select>
 <select id="count" parameterType="map" resultType="long">
 <![CDATA[ SELECT COUNT(1) FROM app_option appOption]]>
  <include refid="condition" />
 </select>
 <sql id="conditionDeleteAll">
  <trim prefix="WHERE" prefixOverrides="AND |OR">
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)"> AND OPTION_ID = #{id}
   </if>
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(parentId)"> AND OPTION_PARENT_ID = #{parentId}
   </if>
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(code)"> AND OPTION_CODE = #{code}
   </if>
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(name)"> AND OPTION_NAME = #{name}
   </if>
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(comment)"> AND OPTION_COMMENT = #{comment}
   </if>
   <if test="order!=null"> AND OPTION_ORDER = #{order}
   </if>
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(icon)"> AND OPTION_ICON = #{icon}
   </if>
   <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(url)"> AND OPTION_URL = #{url}
   </if>
   <if test="type!=null"> AND OPTION_TYPE = #{type}
   </if>
   <if test="flag!=null"> AND OPTION_FLAG = #{flag}
   </if>
  </trim>
 </sql>
 <delete id="deleteAll" parameterType="map">
<![CDATA[DELETE FROM app_option]]>
  <include refid="conditionDeleteAll" />
 </delete>
</mapper>