<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
 "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basics.app.entity.AppToken">
 <cache type="com.basics.support.mybatis.CacheAdapter"/>
 <delete id="delete" parameterType="com.basics.app.entity.AppToken">
  <![CDATA[ DELETE FROM app_token WHERE  TOKEN_ID = #{id} ]]>
 </delete>
 <insert id="insert" parameterType="com.basics.app.entity.AppToken">
  <![CDATA[  INSERT INTO app_token (]]>
  <trim prefix="" suffixOverrides=",">
   <if test="id!=null">TOKEN_ID,</if>
   <if test="tokenCreateTime!=null">TOKEN_CREATE_TIME,</if>
   <if test="tokenExpirationTime!=null">TOKEN_EXPIRATION_TIME,</if>
   <if test="userId!=null">USER_ID,</if>
  </trim>
  <![CDATA[)VALUES(]]>
  <trim prefix="" suffixOverrides=",">
   <if test="id!=null">#{id},</if>
   <if test="tokenCreateTime!=null">#{tokenCreateTime},</if>
   <if test="tokenExpirationTime!=null">#{tokenExpirationTime},</if>
   <if test="userId!=null">#{userId},</if>
  </trim>
  <![CDATA[)]]>
 </insert>
 <update id="update" parameterType="com.basics.app.entity.AppToken">
  <![CDATA[ UPDATE app_token ]]>
  <trim prefix="SET" suffixOverrides=",">
  <if test="id!=null">TOKEN_ID = #{id},</if>
  <if test="tokenCreateTime!=null">TOKEN_CREATE_TIME = #{tokenCreateTime},</if>
  <if test="tokenExpirationTime!=null">TOKEN_EXPIRATION_TIME = #{tokenExpirationTime},</if>
  <if test="userId!=null">USER_ID = #{userId},</if>
  </trim>
  <![CDATA[ WHERE  TOKEN_ID = #{id}   ]]>
 </update>
 <sql id="condition">
  <trim prefix="WHERE" prefixOverrides="AND |OR">
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
   <![CDATA[ AND appToken.TOKEN_ID = #{id}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(tokenCreateTime)">
   <![CDATA[ AND appToken.TOKEN_CREATE_TIME = #{tokenCreateTime}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(tokenExpirationTime)">
   <![CDATA[ AND appToken.TOKEN_EXPIRATION_TIME = #{tokenExpirationTime}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(userId)">
   <![CDATA[ AND appToken.USER_ID = #{userId}    ]]>
  </if>
  </trim>
 </sql>
 <select id="query" parameterType="map" resultType="com.basics.app.entity.AppToken" flushCache="false" useCache="false">
  <![CDATA[
  SELECT
  appToken.TOKEN_ID "id",
  appToken.TOKEN_CREATE_TIME "tokenCreateTime",
  appToken.TOKEN_EXPIRATION_TIME "tokenExpirationTime",
  appToken.USER_ID "userId"
  FROM app_token appToken
  ]]>
  <include refid="condition" />
  <choose>
   <when test="@org.apache.commons.lang.StringUtils@isNotEmpty(orderBy)"> ORDER BY ${orderBy}
   </when>
   <otherwise>
    <!-- //TODO:ADD DEFAULT ORDER COLUMN OR DONOTHING! -->
   </otherwise>
  </choose>
 </select>
 <select id="count" parameterType="map" resultType="long">
  <![CDATA[ SELECT COUNT(1) FROM app_token appToken]]>
  <include refid="condition" />
 </select>
 <sql id="conditionDeleteAll">
  <trim prefix="WHERE" prefixOverrides="AND |OR">
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
   <![CDATA[ AND TOKEN_ID = #{id} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(tokenCreateTime)">
   <![CDATA[ AND TOKEN_CREATE_TIME = #{tokenCreateTime} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(tokenExpirationTime)">
   <![CDATA[ AND TOKEN_EXPIRATION_TIME = #{tokenExpirationTime} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(userId)">
   <![CDATA[ AND USER_ID = #{userId} ]]>
  </if>
  </trim>
 </sql>
 <delete id="deleteAll" parameterType="map">
  <![CDATA[DELETE FROM app_token]]>
  <include refid="conditionDeleteAll" />
 </delete>
</mapper>
