<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.2.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-3.2.xsd">
	<!-- 全局配置 -->
	<import resource="classpath:com/basics/app/spring/spring-profile.xml" />
	<!-- app 配置 -->
	<import resource="classpath:com/basics/app/spring/spring-app-db.xml" />
	<import resource="classpath:com/basics/app/spring/spring-app-cache.xml" />
	<import resource="classpath:com/basics/app/spring/spring-app-mybatis.xml" />
	<!-- shiro -->
	<import resource="classpath:com/basics/app/spring/spring-shiro.xml" />
	<!-- security -->
	<import resource="classpath:com/basics/app/spring/spring-crypto.xml" />
	<!-- jackson -->
	<import resource="classpath:com/basics/app/spring/spring-jackson.xml" />
	<!-- job -->
	<import resource="classpath:com/basics/app/spring/spring-schedule.xml" />
	<!-- MQ -->
 	<import resource="classpath:com/basics/app/spring/spring-activemq.xml" />
	<!-- task任务扫描注解 -->
	<task:annotation-driven />
	<context:component-scan base-package="com.basics" />
</beans>