<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.mallGoods.mapper.MallGoodsMapper">
    <select id="searchGoods" resultType="org.jeecg.modules.mallGoods.entity.MallGoods">
        select id, advert_Id as advertId, goods_Name as goodsName, goods_Text as goodsText, money, image, state, del_Flag as delFlag, create_Time as createTime, status from mall_goods
        where advert_id = #{advertId}
        <if test="name != null and name != ''">and goods_name = #{name}</if>
        and del_Flag = '0' order by create_time desc  limit #{pageNum},#{pageSize}
    </select>

    <select id="searchTotal" resultType="long">
        select count(*) from mall_goods where advert_id = #{advertId}
        <if test="name != null and name != ''">and goods_name = #{name}</if>
        and del_Flag = '0'
    </select>
</mapper>