<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
 "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basics.cu.entity.CuCustomerCount">
 <cache type="com.basics.support.mybatis.CacheAdapter"/>
 <delete id="delete" parameterType="com.basics.cu.entity.CuCustomerCount">
  <![CDATA[ DELETE FROM cu_customer_count WHERE  COUNT_ID = #{id} ]]>
 </delete>
 <insert id="insert" parameterType="com.basics.cu.entity.CuCustomerCount">
  <![CDATA[  INSERT INTO cu_customer_count (]]>
  <trim prefix="" suffixOverrides=",">
   <if test="id!=null">COUNT_ID,</if>
   <if test="customerLevelId!=null">CUSTOMER_LEVEL_ID,</if>
   <if test="flagLevelAuto!=null">FLAG_LEVEL_AUTO,</if>
   <if test="salfNum!=null">SALF_NUM,</if>
   <if test="teamNum!=null">TEAM_NUM,</if>
   <if test="versionNum!=null">VERSION_NUM,</if>
   <if test="flagDel!=null">FLAG_DEL,</if>
   <if test="createTime!=null">CREATE_TIME,</if>
   <if test="createUser!=null">CREATE_USER,</if>
   <if test="modifyUser!=null">MODIFY_USER,</if>
   <if test="modifyTime!=null">MODIFY_TIME,</if>
  </trim>
  <![CDATA[)VALUES(]]>
  <trim prefix="" suffixOverrides=",">
   <if test="id!=null">#{id},</if>
   <if test="customerLevelId!=null">#{customerLevelId},</if>
   <if test="flagLevelAuto!=null">#{flagLevelAuto},</if>
   <if test="salfNum!=null">#{salfNum},</if>
   <if test="teamNum!=null">#{teamNum},</if>
   <if test="versionNum!=null">#{versionNum},</if>
   <if test="flagDel!=null">#{flagDel},</if>
   <if test="createTime!=null">#{createTime},</if>
   <if test="createUser!=null">#{createUser},</if>
   <if test="modifyUser!=null">#{modifyUser},</if>
   <if test="modifyTime!=null">#{modifyTime},</if>
  </trim>
  <![CDATA[)]]>
 </insert>
 <update id="update" parameterType="com.basics.cu.entity.CuCustomerCount">
  <![CDATA[ UPDATE cu_customer_count ]]>
  <trim prefix="SET" suffixOverrides=",">
  <if test="id!=null">COUNT_ID = #{id},</if>
  <if test="customerLevelId!=null">CUSTOMER_LEVEL_ID = #{customerLevelId},</if>
  <if test="flagLevelAuto!=null">FLAG_LEVEL_AUTO = #{flagLevelAuto},</if>
  <if test="salfNum!=null">SALF_NUM = #{salfNum},</if>
  <if test="teamNum!=null">TEAM_NUM = #{teamNum},</if>
  <if test="versionNum!=null">VERSION_NUM = #{versionNum},</if>
  <if test="flagDel!=null">FLAG_DEL = #{flagDel},</if>
  <if test="createTime!=null">CREATE_TIME = #{createTime},</if>
  <if test="createUser!=null">CREATE_USER = #{createUser},</if>
  <if test="modifyUser!=null">MODIFY_USER = #{modifyUser},</if>
  <if test="modifyTime!=null">MODIFY_TIME = #{modifyTime},</if>
  </trim>
  <![CDATA[ WHERE  COUNT_ID = #{id}   ]]>
 </update>
 <sql id="condition">
  <trim prefix="WHERE" prefixOverrides="AND |OR">
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
   <![CDATA[ AND cuCustomerCount.COUNT_ID = #{id}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(customerLevelId)">
   <![CDATA[ AND cuCustomerCount.CUSTOMER_LEVEL_ID = #{customerLevelId}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(flagLevelAuto)">
   <![CDATA[ AND cuCustomerCount.FLAG_LEVEL_AUTO = #{flagLevelAuto}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(salfNum)">
   <![CDATA[ AND cuCustomerCount.SALF_NUM = #{salfNum}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(teamNum)">
   <![CDATA[ AND cuCustomerCount.TEAM_NUM = #{teamNum}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(versionNum)">
   <![CDATA[ AND cuCustomerCount.VERSION_NUM = #{versionNum}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(flagDel)">
   <![CDATA[ AND cuCustomerCount.FLAG_DEL = #{flagDel}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(createTime)">
   <![CDATA[ AND cuCustomerCount.CREATE_TIME = #{createTime}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(createUser)">
   <![CDATA[ AND cuCustomerCount.CREATE_USER = #{createUser}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(modifyUser)">
   <![CDATA[ AND cuCustomerCount.MODIFY_USER = #{modifyUser}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(modifyTime)">
   <![CDATA[ AND cuCustomerCount.MODIFY_TIME = #{modifyTime}    ]]>
  </if>
  </trim>
 </sql>
 <select id="query" parameterType="map" resultType="com.basics.cu.entity.CuCustomerCount">
  <![CDATA[
  SELECT
  cuCustomerCount.COUNT_ID "id",
  cuCustomerCount.CUSTOMER_LEVEL_ID "customerLevelId",
  cuCustomerCount.FLAG_LEVEL_AUTO "flagLevelAuto",
  cuCustomerCount.SALF_NUM "salfNum",
  cuCustomerCount.TEAM_NUM "teamNum",
  cuCustomerCount.VERSION_NUM "versionNum",
  cuCustomerCount.FLAG_DEL "flagDel",
  cuCustomerCount.CREATE_TIME "createTime",
  cuCustomerCount.CREATE_USER "createUser",
  cuCustomerCount.MODIFY_USER "modifyUser",
  cuCustomerCount.MODIFY_TIME "modifyTime"
  FROM cu_customer_count cuCustomerCount
  ]]>
  <include refid="condition" />
  <choose>
   <when test="@org.apache.commons.lang.StringUtils@isNotEmpty(orderBy)"> ORDER BY ${orderBy}
   </when>
   <otherwise>
    <!-- //TODO:ADD DEFAULT ORDER COLUMN OR DONOTHING! -->
   </otherwise>
  </choose>
 </select>
 <select id="count" parameterType="map" resultType="long">
  <![CDATA[ SELECT COUNT(1) FROM cu_customer_count cuCustomerCount]]>
  <include refid="condition" />
 </select>
 <sql id="conditionDeleteAll">
  <trim prefix="WHERE" prefixOverrides="AND |OR">
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
   <![CDATA[ AND COUNT_ID = #{id} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(customerLevelId)">
   <![CDATA[ AND CUSTOMER_LEVEL_ID = #{customerLevelId} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(flagLevelAuto)">
   <![CDATA[ AND FLAG_LEVEL_AUTO = #{flagLevelAuto} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(salfNum)">
   <![CDATA[ AND SALF_NUM = #{salfNum} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(teamNum)">
   <![CDATA[ AND TEAM_NUM = #{teamNum} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(versionNum)">
   <![CDATA[ AND VERSION_NUM = #{versionNum} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(flagDel)">
   <![CDATA[ AND FLAG_DEL = #{flagDel} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(createTime)">
   <![CDATA[ AND CREATE_TIME = #{createTime} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(createUser)">
   <![CDATA[ AND CREATE_USER = #{createUser} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(modifyUser)">
   <![CDATA[ AND MODIFY_USER = #{modifyUser} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(modifyTime)">
   <![CDATA[ AND MODIFY_TIME = #{modifyTime} ]]>
  </if>
  </trim>
 </sql>
 <delete id="deleteAll" parameterType="map">
  <![CDATA[DELETE FROM cu_customer_count]]>
  <include refid="conditionDeleteAll" />
 </delete>
 
 <select id="queryCustomerCountLevel" parameterType="map" resultType="com.basics.cu.vo.CustomerCountLevelVo">
  <![CDATA[
  SELECT
  cuCustomerCount.COUNT_ID "id",
  cuCustomerCount.CUSTOMER_LEVEL_ID "customerLevelId",
  cuCustomerCount.FLAG_LEVEL_AUTO "flagLevelAuto",
  cuCustomerCount.SALF_NUM "salfNum",
  cuCustomerCount.TEAM_NUM "teamNum",
  sysCustomerLevel.SALF_NUM "levelSalfNum",
  sysCustomerLevel.LEVEL_SORT "levelSort",
  sysCustomerLevel.SALF_REWARD_RATE "salfRewardRate",
  sysCustomerLevel.TEAM_OUT_REWARD_RATE "teamOutRewardRate",
  sysCustomerLevel.TEAM_IN_REWARD_RATE "teamInRewardRate" 
  FROM cu_customer_count cuCustomerCount
  INNER JOIN sys_customer_level sysCustomerLevel ON sysCustomerLevel.LEVEL_ID = cuCustomerCount.CUSTOMER_LEVEL_ID
  ]]>
  <include refid="condition" />
  <choose>
   <when test="@org.apache.commons.lang.StringUtils@isNotEmpty(orderBy)"> ORDER BY ${orderBy}
   </when>
   <otherwise>
    <!-- //TODO:ADD DEFAULT ORDER COLUMN OR DONOTHING! -->
   </otherwise>
  </choose>
 </select>
 
 
</mapper>
