<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
 "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basics.cu.entity.CuDiscuss">
 <cache type="com.basics.support.mybatis.CacheAdapter"/>
 <select id="query" resultType="com.basics.cu.entity.CuDiscuss"  flushCache="false" useCache="false">
    select id, customer_id as customerId, shop_id as shopId, create_time as createTime, state, remark
    from  cu_discuss
    where 1=1
     <if test="state!=null">and state = #{state}</if>
     <if test="shopId!=null">and shop_id = #{shopId}</if>
     order by create_time desc
     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(pagey)">
         <![CDATA[limit #{pagey},#{pages}]]>
     </if>
 </select>

<insert id="insert" parameterType="com.basics.cu.entity.CuDiscuss">
    insert into cu_discuss(shop_id, customer_id, create_time, remark) values (#{shopId}, #{customerId}, now(), #{remark})
</insert>

<select id = "count" parameterType="map" resultType="long" flushCache="false" useCache="false">
<![CDATA[
    select count(1)
    from  cu_discuss
    where 1=1
]]>
    <if test="state!=null">and state = #{state}</if>
    <if test="shopId!=null">and shop_id = #{shopId}</if>
</select>
</mapper>
