<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
 "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basics.cu.entity.CuReatilMoney">
 <cache type="com.basics.support.mybatis.CacheAdapter"/>
 <select id="query" resultType="com.basics.cu.entity.CuReatilMoney"  flushCache="false" useCache="false">
    select id, reatil_type as reatilType, money, del_flag as delFlag from cu_reatil_money
     WHERE 1=1
     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(delFlag)">
         <![CDATA[ AND CUSTOMER_ID = #{customerId} ]]>
     </if>
     <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
         <![CDATA[ AND id = #{id} ]]>
     </if>
 </select>
 
 
 
</mapper>
