<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
 "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basics.tr.entity.TrConvert">
 <cache type="com.basics.support.mybatis.CacheAdapter"/>
 <delete id="delete" parameterType="com.basics.tr.entity.TrConvert">
  <![CDATA[ DELETE FROM tr_convert WHERE  CONVERT_ID = #{id} ]]>
 </delete>
 <insert id="insert" parameterType="com.basics.tr.entity.TrConvert">
  <![CDATA[  INSERT INTO tr_convert (]]>
  <trim prefix="" suffixOverrides=",">
   <if test="id!=null">CONVERT_ID,</if>
   <if test="convertSerial!=null">CONVERT_SERIAL,</if>
   <if test="convertName!=null">CONVERT_NAME,</if>
   <if test="convertRemark!=null">CONVERT_REMARK,</if>
   <if test="convertNum!=null">CONVERT_NUM,</if>
   <if test="convertTotalNum!=null">CONVERT_TOTAL_NUM,</if>
   <if test="convertStartTime!=null">CONVERT_START_TIME,</if>
   <if test="convertEndTime!=null">CONVERT_END_TIME,</if>
   <if test="versionNum!=null">VERSION_NUM,</if>
   <if test="flagDel!=null">FLAG_DEL,</if>
   <if test="createTime!=null">CREATE_TIME,</if>
   <if test="createUser!=null">CREATE_USER,</if>
   <if test="modifyUser!=null">MODIFY_USER,</if>
   <if test="modifyTime!=null">MODIFY_TIME,</if>
  </trim>
  <![CDATA[)VALUES(]]>
  <trim prefix="" suffixOverrides=",">
   <if test="id!=null">#{id},</if>
   <if test="convertSerial!=null">#{convertSerial},</if>
   <if test="convertName!=null">#{convertName},</if>
   <if test="convertRemark!=null">#{convertRemark},</if>
   <if test="convertNum!=null">#{convertNum},</if>
   <if test="convertTotalNum!=null">#{convertTotalNum},</if>
   <if test="convertStartTime!=null">#{convertStartTime},</if>
   <if test="convertEndTime!=null">#{convertEndTime},</if>
   <if test="versionNum!=null">#{versionNum},</if>
   <if test="flagDel!=null">#{flagDel},</if>
   <if test="createTime!=null">#{createTime},</if>
   <if test="createUser!=null">#{createUser},</if>
   <if test="modifyUser!=null">#{modifyUser},</if>
   <if test="modifyTime!=null">#{modifyTime},</if>
  </trim>
  <![CDATA[)]]>
 </insert>
 <update id="update" parameterType="com.basics.tr.entity.TrConvert">
  <![CDATA[ UPDATE tr_convert ]]>
  <trim prefix="SET" suffixOverrides=",">
  <if test="id!=null">CONVERT_ID = #{id},</if>
  <if test="convertSerial!=null">CONVERT_SERIAL = #{convertSerial},</if>
  <if test="convertName!=null">CONVERT_NAME = #{convertName},</if>
  <if test="convertRemark!=null">CONVERT_REMARK = #{convertRemark},</if>
  <if test="convertNum!=null">CONVERT_NUM = #{convertNum},</if>
  <if test="convertTotalNum!=null">CONVERT_TOTAL_NUM = #{convertTotalNum},</if>
  <if test="convertStartTime!=null">CONVERT_START_TIME = #{convertStartTime},</if>
  <if test="convertEndTime!=null">CONVERT_END_TIME = #{convertEndTime},</if>
  <if test="versionNum!=null">VERSION_NUM = VERSION_NUM+1,</if>
  <if test="flagDel!=null">FLAG_DEL = #{flagDel},</if>
  <if test="createTime!=null">CREATE_TIME = #{createTime},</if>
  <if test="createUser!=null">CREATE_USER = #{createUser},</if>
  <if test="modifyUser!=null">MODIFY_USER = #{modifyUser},</if>
  <if test="modifyTime!=null">MODIFY_TIME = #{modifyTime},</if>
  </trim>
  <![CDATA[ WHERE  CONVERT_ID = #{id}   ]]>
  <![CDATA[ AND  VERSION_NUM = #{versionNum}   ]]>
 </update>
 <sql id="condition">
  <trim prefix="WHERE" prefixOverrides="AND |OR">
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
   <![CDATA[ AND trConvert.CONVERT_ID = #{id}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(convertSerial)">
   <![CDATA[ AND trConvert.CONVERT_SERIAL = #{convertSerial}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(convertName)">
   <![CDATA[ AND trConvert.CONVERT_NAME = #{convertName}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(convertRemark)">
   <![CDATA[ AND trConvert.CONVERT_REMARK = #{convertRemark}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(convertNum)">
   <![CDATA[ AND trConvert.CONVERT_NUM = #{convertNum}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(convertTotalNum)">
   <![CDATA[ AND trConvert.CONVERT_TOTAL_NUM = #{convertTotalNum}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(convertStartTime)">
   <![CDATA[ AND trConvert.CONVERT_START_TIME = #{convertStartTime}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(convertEndTime)">
   <![CDATA[ AND trConvert.CONVERT_END_TIME = #{convertEndTime}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(versionNum)">
   <![CDATA[ AND trConvert.VERSION_NUM = #{versionNum}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(flagDel)">
   <![CDATA[ AND trConvert.FLAG_DEL = #{flagDel}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(createTime)">
   <![CDATA[ AND trConvert.CREATE_TIME = #{createTime}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(createUser)">
   <![CDATA[ AND trConvert.CREATE_USER = #{createUser}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(modifyUser)">
   <![CDATA[ AND trConvert.MODIFY_USER = #{modifyUser}    ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(modifyTime)">
   <![CDATA[ AND trConvert.MODIFY_TIME = #{modifyTime}    ]]>
  </if>
  </trim>
 </sql>
 <select id="query" parameterType="map" resultType="com.basics.tr.entity.TrConvert">
  <![CDATA[
  SELECT
  trConvert.CONVERT_ID "id",
  trConvert.CONVERT_SERIAL "convertSerial",
  trConvert.CONVERT_NAME "convertName",
  trConvert.CONVERT_REMARK "convertRemark",
  trConvert.CONVERT_NUM "convertNum",
  trConvert.CONVERT_TOTAL_NUM "convertTotalNum",
  trConvert.CONVERT_START_TIME "convertStartTime",
  trConvert.CONVERT_END_TIME "convertEndTime",
  trConvert.VERSION_NUM "versionNum",
  trConvert.FLAG_DEL "flagDel",
  trConvert.CREATE_TIME "createTime",
  trConvert.CREATE_USER "createUser",
  trConvert.MODIFY_USER "modifyUser",
  trConvert.MODIFY_TIME "modifyTime"
  FROM tr_convert trConvert
  ]]>
  <include refid="condition" />
  <choose>
   <when test="@org.apache.commons.lang.StringUtils@isNotEmpty(orderBy)"> ORDER BY ${orderBy}
   </when>
   <otherwise>
    <!-- //TODO:ADD DEFAULT ORDER COLUMN OR DONOTHING! -->
   </otherwise>
  </choose>
 </select>
 <select id="count" parameterType="map" resultType="long">
  <![CDATA[ SELECT COUNT(1) FROM tr_convert trConvert]]>
  <include refid="condition" />
 </select>
 <sql id="conditionDeleteAll">
  <trim prefix="WHERE" prefixOverrides="AND |OR">
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(id)">
   <![CDATA[ AND CONVERT_ID = #{id} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(convertSerial)">
   <![CDATA[ AND CONVERT_SERIAL = #{convertSerial} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(convertName)">
   <![CDATA[ AND CONVERT_NAME = #{convertName} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(convertRemark)">
   <![CDATA[ AND CONVERT_REMARK = #{convertRemark} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(convertNum)">
   <![CDATA[ AND CONVERT_NUM = #{convertNum} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(convertTotalNum)">
   <![CDATA[ AND CONVERT_TOTAL_NUM = #{convertTotalNum} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(convertStartTime)">
   <![CDATA[ AND CONVERT_START_TIME = #{convertStartTime} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(convertEndTime)">
   <![CDATA[ AND CONVERT_END_TIME = #{convertEndTime} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(versionNum)">
   <![CDATA[ AND VERSION_NUM = #{versionNum} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(flagDel)">
   <![CDATA[ AND FLAG_DEL = #{flagDel} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(createTime)">
   <![CDATA[ AND CREATE_TIME = #{createTime} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(createUser)">
   <![CDATA[ AND CREATE_USER = #{createUser} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(modifyUser)">
   <![CDATA[ AND MODIFY_USER = #{modifyUser} ]]>
  </if>
  <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(modifyTime)">
   <![CDATA[ AND MODIFY_TIME = #{modifyTime} ]]>
  </if>
  </trim>
 </sql>
 <delete id="deleteAll" parameterType="map">
  <![CDATA[DELETE FROM tr_convert]]>
  <include refid="conditionDeleteAll" />
 </delete>
</mapper>
